<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoTran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <AutoTran.Properties.Settings>
            <setting name="CognitiveServicesApiKey" serializeAs="String">
                <value>9b0d6919e36f4bedbc8f63e4a8cdec1e</value>
            </setting>
            <setting name="SourceLanguage" serializeAs="String">
                <value>Detect</value>
            </setting>
            <setting name="DestinationLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="CognitiveServicesEndpoint" serializeAs="String">
                <value>https://api.cognitive.microsofttranslator.com/{0}?api-version=3.0</value>
            </setting>
            <setting name="XOffset" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="YOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="English" serializeAs="String">
                <value />
            </setting>
            <setting name="CognitiveServicesRegion" serializeAs="String">
                <value>global</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </AutoTran.Properties.Settings>
    </applicationSettings>
</configuration>
